extends layout
block content
  .container
    .row
      .holder
        h1 Welcome to the Products page!
          .grid-container
            each row in res1
             .item
              h1.itemtitle #{row.Name}
              img.pimage(src="#{row.Image}", alt="#{row.Image}")
              p.itemp Price: &euro;#{row.Price}
              p.itemp Variety: #{row.Variety}
              
              a.button(href="/show/#{row.Id}") Show 
              a.button(href="/edit/#{row.Id}") Edit Product
              a.button(href="/delete/#{row.Id}") Delete Product
              
    