extends layout
block content

   
      .holder(style='float:center;')
       h1 Welcome to this plant's page!
        .grid-container
          each row in res1
            .item
              h1.itemtitle #{row.Name}
              img.image(src="../#{row.Image}", alt="#{row.Image}")
              p.itemp Price: &euro;#{row.Price}
              p.itemp Variety: #{row.Variety}
              a.button(href="/products") Go back to browsing Products!
